{% extends 'base.html' %}
{% load static %}
{%block style%}
<style>
  .form_inner_style {
    padding: 18px;
    border-radius: 25px;
    border: black;
    color: white;
    height: 27px;
    width: 245px;
    background-color: #B408B8;
  }

  .button-style {
    border-radius: 25px;
    border: black;
    height: 27px;
    width: 132px;
    background-color: #8c087f;
    color: white;
    font-size: 18px;
    font-weight: bold;
    font-family: times new roman;
    padding-top: 1px;
  }

  .logo-class {
    width: 230px;
    height: 102px;
    margin-top: 99px;
  }

  .img {
    text-align: center;
  }

  .label-right {
    text-align: left;
    padding-left: 30px;
  }
</style>
{%endblock%}

{% block content %}
<div style="text-align: center;">
  <div class="img">
    <img src="{% static 'img/smarttick_white.png' %}" alt="smart" class="logo-class">
  </div>
  <div class="row">
    <div class="label-right">
      <label for="email">Email</label>
    </div>
    <div class="input-field col s6">
      <input placeholder="" id="email" type="email" name="email" class="form_inner_style">
    </div>
  </div>
  <div class="row" style="padding-top:22px">
    <div class="label-right">
      <label for="password">Password</label>
    </div>
    <div class="input-field col s6">
      <input placeholder="" id="password" type="password" name="password" class="form_inner_style">
    </div>
    <a href="" class="forget-pass-class" style="text-align: right;color:#fff">
      <p> Forget Password?</p>
    </a>
  </div>
  <div class="row">
    <button class="btn waves-effect waves-light button-style" type="submit">Login
    </button>
  </div>
</div>

{% endblock %}