{% extends 'base.html' %}
{% load static %}
{% block content %} 
<head>
  <style>    
    .mobile-container {
      max-width: 292px;
      margin: auto;
      background-color: #500949;
      height: 520px;
      color: white;
      border-radius: 10px;
    }
  </style>
</head>
<body>  
  <div class="mobile-container">
    <div class="img">
      <img src="{% static 'img/smarttick_white.png' %}" alt="smart" style="width: 122px;height: 44px;margin-right: 150px;">
    </div>         
  </div>
</body>
{% endblock %}
