<hmtl>
    <head>
        <title>
            Smarttick
        </title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <style>
        
        .mobile-container {
          max-width: 292px;
          margin: auto;
          background-color: #500949;
          height: 520px;
          color: white;
          border-radius: 10px;
        }
        img {
          display: block;
          margin-left: auto;
          margin-right: auto;
          text-align: center;
           }

        </style>
        </head>
        <body>  
            <div class="mobile-container">
              </div>
              <img src="smarttick_black.jpg" alt="Smarttick">
              </body>
        
        </html>
